@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{

    <li class="navbar">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name!</a>
    </li>
    <li class="navbar">
        <a class="dropdown"asp-area="Identity" asp-page="/Account/Logout">CerrarSesion</a>
    </li>
        

}
else
{
    <li class="navbar">
        <a class="dropdown" asp-area="Identity" asp-page="/Account/Register">Crear Cuenta</a>
    </li>
    <li class="navbar">
        <a class="dropdown" asp-area="Identity" asp-page="/Account/Login">Iniciar Sesión</a>
    </li>
    
}

